<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <% if current_user == user %>
        <%= link_to "My page", user_path(user) %> | 
      <% else %>
        <%= link_to "Show this user", user_path(user) %> |
      <% end %>
      <% if current_user.following?(user) %>
        <%= button_to "UNfollow this user", {controller: 'relationships', action: 'destroy', id: user.id}, method: :delete %>
      <% else %>
        <% if current_user!= user %>
          <%= button_to "follow this user", {controller: 'relationships', action: 'create', id: user.id} %>
        <% end %>
    <% end %>
    </p>
  <% end %>
</div>

<%= paginate @users %>

<%= link_to "New user", new_user_path %>
