<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Signup", signup_path %> |

<% if current_user.nil? %>
    <%= link_to "Login", login_path %>
<% else %>
    <%= link_to "User page", current_user %> | 
    <%= form_with(url: logout_path, method: :delete) do |f| %>
        <%= f.submit 'ログアウト' %>
    <% end %>
<% end %>