<%= form_with(model: micropost) do |form| %>

  <div>
    <%= form.file_field :micropost_image, accept: "image/*" %>
  </div>
  
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
