<%= stylesheet_link_tag 'common/header', media: 'all' %>

<div class="header-inner">
    <div class="header-title">
        <%= link_to( "FanFan", root_path, class:"link") %>
    </div>
    <div class="header-nav-wrapper">
        <% if current_user.nil? %>
            <div class="header-nav-inner">
                <%= link_to("LogIN", login_path, class:"link, nav-rightpath")  %>
                <%= link_to("SignUP", signup_path, class:"link, nav-leftpath") %>
            </div>
        <% else %>
            <div class="header-nav-inner">
                <%= link_to("MY PAGE", user_path(current_user), class:"link, nav-rightpath") %>
                <%= link_to("POST", post_user_path(current_user), class:"link, nav-leftpath") %>
            </div>
        <% end %>
    </div>
</div>