<%= stylesheet_link_tag 'common/microposts/micropost_in_mypage', media: 'all' %>

<%= link_to micropost_path(micropost.id) do %>
<div class="microposts-writer-inner">
    <div class="micropost-image">
        <%= image_tag micropost.get_mp_image, :size => '300x200' %>
    </div>

    <div class="micropost-info">
        <div class="microposts-writer-name">
            <p class="micropost-content">
                <%= micropost.content %>
            </p>
        </div>

        <div class="microposts-content">
            <p class="micropost-writer">
                <%= user_id_to_name(micropost.user_id) %>
            </p>
        </div>
    </div>
</div>
<% end %>