<!DOCTYPE html>
<html>
  <head>
    <title>FanFan2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if current_user.nil? %>
      <p>No Users logged in</p>
    <% else %>
      <%= current_user.id %>
    <% end %>
  </body>
</html>
